<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hako.web.blog.board.dao.CountDao">


	<resultMap type="com.hako.web.blog.board.entity.BlogCount"
		id="RESULT_BLOG_COUNT">
	</resultMap>



	<update id="resetTodayCount">
		UPDATE BLOG_COUNT SET COUNT =0 WHERE COUNT_NAME LIKE
		"%TODAY%"
	</update>


	<update id="addCountInfo">
		UPDATE BLOG_COUNT SET COUNT = COUNT + #{plus} WHERE
		COUNT_NAME = #{name}
	</update>

	<select id="getCountInfoList" resultMap="RESULT_BLOG_COUNT">
		SELECT * FROM BLOG_COUNT
	</select>

	<select id="getCountInfo" resultMap="RESULT_BLOG_COUNT">
		SELECT * FROM BLOG_COUNT WHERE COUNT_NAME = #{name}
	</select>


</mapper>